.container {
  height: 100vh;
  font-size: 3rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.add-button {
  background: none;
  border: none;

  &:hover {
    animation-duration: 0.3s;
    animation-name: pulse;
    cursor: pointer;
  }

  &:focus {
    outline: none;
  }

  svg {
    fill: forestgreen;
    transition: fill 0.3s;

    &:hover {
      fill: darkgreen;
    }
  }
}
