.container {
  height: 100vh;
  font-size: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.adjective {
  display: inline-block;
}

.add-button {
  background: none;
  border: none;

  &:hover {
    animation-duration: 0.3s;
    animation-name: pulse;
    cursor: pointer;
  }

  &:focus {
    outline: none;
  }

  svg {
    fill: darkslateblue;
    transition: fill 0.3s;
  }
}
