<ng-container *ngIf="index < numberOfAdjectives - 1 && numberOfAdjectives > 1">
  <what-to-draw-interactive-word
    [word]="adjective"
    [displayMode]="'Adjective'"
    (refreshWord)="onRefreshAdjective($event)"
    (removeWord)="onRemoveAdjective($event)"
    >{{ adjective }},
  </what-to-draw-interactive-word>
</ng-container>
<ng-container *ngIf="numberOfAdjectives === 1">
  <what-to-draw-interactive-word
    [word]="adjective"
    [displayMode]="'Adjective'"
    (refreshWord)="onRefreshAdjective($event)"
    (removeWord)="onRemoveAdjective($event)"
    >{{ adjective }}</what-to-draw-interactive-word
  >
</ng-container>

<ng-container
  *ngIf="index === numberOfAdjectives - 1 && numberOfAdjectives > 1"
>
  <what-to-draw-interactive-word
    [word]="adjective"
    [displayMode]="'Adjective'"
    (refreshWord)="onRefreshAdjective($event)"
    (removeWord)="onRemoveAdjective($event)"
    >and {{ adjective }}</what-to-draw-interactive-word
  >
</ng-container>
